<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace的值是接口的全限定名字 -->
<mapper namespace="com.baizhi.cmfz.dao.SectionDao">
	<insert id="insertSection">
		insert into section values (#{id},#{title},#{size},#{duration},#{downpath},#{uploadDate},#{albumid})
	</insert>
</mapper>
